{
  "openapi": "3.1.0",
  "info": {
    "title": "FlexPortal API",
    "version": "1.0.0",
    "description": "FlexPortal is a subscription management platform for physical products like devices, equipment, and hardware. The API enables you to:\n\n- **Orders**: Create and manage subscription orders for customers\n- **Subscriptions**: Track active subscriptions, extend contracts, process buyouts and returns\n- **Products**: Maintain your product catalog with variants, pricing tiers, and inventory\n- **Customers**: Manage customer records and their subscription history\n- **Assets**: Track individual devices by serial number through their lifecycle\n- **Payments**: Monitor recurring payments and billing status\n- **Billing Groups**: Consolidate subscriptions for B2B customers into single invoices\n\nAll endpoints require authentication via Bearer token and a Tenant-ID header. Responses use cursor-based pagination with `startAfter` and `limit` parameters.",
    "contact": {
      "name": "FlexPortal Support",
      "url": "https://www.flexportal.io"
    }
  },
  "servers": [
    {
      "url": "https://api-eu.flexportal.io",
      "description": "Europe"
    },
    {
      "url": "https://api-us.flexportal.io",
      "description": "United States"
    },
    {
      "url": "https://api-qatar.flexportal.io",
      "description": "Qatar"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Orders",
      "description": "Create and manage subscription orders. Orders flow through statuses: pending → confirmed → partial → fulfilled. Each order contains customer info, line items with products, and billing/shipping addresses."
    },
    {
      "name": "Subscriptions",
      "description": "Manage active subscriptions (rentals). Subscriptions link customers to specific assets and track billing. Support lifecycle operations including extensions, upgrades, buyouts, and early returns."
    },
    {
      "name": "Products",
      "description": "Maintain your product catalog. Products have variants (e.g., different grades/conditions) with pricing tiers for different contract lengths. Supports bulk CSV import and Shopify sync."
    },
    {
      "name": "Customers",
      "description": "Customer records with contact info, addresses, and subscription history. Customers can be individuals or businesses. Automatically created when processing orders with new email addresses."
    },
    {
      "name": "Assets",
      "description": "Track physical devices/equipment by serial number. Assets flow through statuses: available → rented_out → returned. Link assets to subscriptions during order fulfillment."
    },
    {
      "name": "Files",
      "description": "Upload, download, and manage documents. Generate contracts from templates. Files are associated with orders and customers. Uses signed URLs for secure file transfers."
    },
    {
      "name": "Exports",
      "description": "Export subscription data to CSV format for reporting, accounting integration, or business intelligence tools. Filter by status, date range, or customer."
    },
    {
      "name": "Payments",
      "description": "Track recurring subscription payments. Payments are automatically generated based on billing schedules. Monitor payment status, handle failures, and mark manual payments as paid."
    },
    {
      "name": "Billing Groups",
      "description": "Consolidate multiple subscriptions into a single monthly invoice for B2B customers. Set a common billing day and manage subscriptions as a group."
    }
  ],
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      }
    },
    "parameters": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained from FlexPortal dashboard"
      }
    }
  },
  "paths": {
    "/v1/orders": {
      "post": {
        "operationId": "createOrder",
        "tags": [
          "Orders"
        ],
        "summary": "Create an order",
        "description": "Creates a new subscription order for a customer. The order goes through validation, pricing calculation, and customer lookup/creation. If no customer exists with the provided email, one is automatically created.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Your tenant identifier"
            },
            "required": true,
            "name": "Tenant-ID",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "orderType": {
                    "type": "string",
                    "enum": [
                      "standard",
                      "extension",
                      "upgrade"
                    ],
                    "default": "standard"
                  },
                  "extensionDetails": {
                    "type": "object",
                    "properties": {
                      "originalOrderId": {
                        "type": "string"
                      },
                      "extensionMonths": {
                        "type": "integer",
                        "exclusiveMinimum": 0
                      },
                      "previousEndDate": {
                        "type": "string"
                      },
                      "newEndDate": {
                        "type": "string"
                      },
                      "reason": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "originalOrderId",
                      "extensionMonths",
                      "previousEndDate",
                      "newEndDate"
                    ]
                  },
                  "upgradeDetails": {
                    "type": "object",
                    "properties": {
                      "previousDevice": {
                        "type": "string"
                      },
                      "previousSerialNumber": {
                        "type": "string"
                      },
                      "previousMonthlyAmount": {
                        "type": "number"
                      },
                      "previousRentalId": {
                        "type": "string"
                      },
                      "upgradeReason": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "previousDevice",
                      "previousSerialNumber",
                      "previousMonthlyAmount",
                      "previousRentalId"
                    ]
                  },
                  "customer": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "firstName": {
                        "type": "string"
                      },
                      "lastName": {
                        "type": "string"
                      },
                      "company": {
                        "type": "string"
                      },
                      "phone": {
                        "type": "string"
                      },
                      "customerType": {
                        "type": "string",
                        "enum": [
                          "individual",
                          "business"
                        ],
                        "default": "individual"
                      }
                    },
                    "required": [
                      "email",
                      "firstName",
                      "lastName"
                    ]
                  },
                  "customFields": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "additionalProperties": {}
                  },
                  "billingAddress": {
                    "type": "object",
                    "properties": {
                      "contactName": {
                        "type": "string"
                      },
                      "company": {
                        "type": "string"
                      },
                      "buildingInfo": {
                        "type": "string"
                      },
                      "streetAddress": {
                        "type": "string"
                      },
                      "locality": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "adminArea": {
                        "type": "string"
                      },
                      "postalCode": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "country": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "contactName",
                      "streetAddress",
                      "city",
                      "country"
                    ]
                  },
                  "shippingAddress": {
                    "type": "object",
                    "properties": {
                      "contactName": {
                        "type": "string"
                      },
                      "company": {
                        "type": "string"
                      },
                      "buildingInfo": {
                        "type": "string"
                      },
                      "streetAddress": {
                        "type": "string"
                      },
                      "locality": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "adminArea": {
                        "type": "string"
                      },
                      "postalCode": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "country": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "contactName",
                      "streetAddress",
                      "city",
                      "country"
                    ]
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "sku": {
                          "type": "string",
                          "minLength": 1
                        },
                        "quantity": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "contractLength": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "sku",
                        "quantity"
                      ]
                    },
                    "minItems": 1
                  },
                  "notes": {
                    "type": "string"
                  }
                },
                "required": [
                  "customer",
                  "billingAddress",
                  "items"
                ]
              },
              "example": {
                "orderType": "standard",
                "customer": {
                  "email": "sarah.johnson@acmecorp.com",
                  "firstName": "Sarah",
                  "lastName": "Johnson",
                  "company": "Acme Corporation",
                  "phone": "+1-555-123-4567",
                  "customerType": "business"
                },
                "billingAddress": {
                  "contactName": "Sarah Johnson",
                  "company": "Acme Corporation",
                  "streetAddress": "123 Business Park Drive",
                  "city": "San Francisco",
                  "adminArea": "CA",
                  "postalCode": "94105",
                  "country": "US"
                },
                "shippingAddress": {
                  "contactName": "Sarah Johnson",
                  "company": "Acme Corporation",
                  "streetAddress": "123 Business Park Drive",
                  "city": "San Francisco",
                  "adminArea": "CA",
                  "postalCode": "94105",
                  "country": "US"
                },
                "items": [
                  {
                    "sku": "MACBOOK-PRO-16-M3",
                    "quantity": 5,
                    "contractLength": 24
                  },
                  {
                    "sku": "DELL-U2722D-MONITOR",
                    "quantity": 5,
                    "contractLength": 24
                  }
                ],
                "notes": "IT department refresh - Q1 2025"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "orderId": {
                      "type": "string"
                    },
                    "order": {
                      "type": "object",
                      "properties": {
                        "orderId": {
                          "type": "string"
                        },
                        "tenantId": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "confirmed",
                            "partial",
                            "fulfilled",
                            "cancelled"
                          ]
                        },
                        "orderType": {
                          "type": "string",
                          "enum": [
                            "standard",
                            "extension",
                            "upgrade"
                          ]
                        },
                        "customer": {
                          "type": "object",
                          "properties": {
                            "customerId": {
                              "type": "string",
                              "minLength": 1
                            },
                            "email": {
                              "type": "string",
                              "format": "email"
                            },
                            "firstName": {
                              "type": "string",
                              "minLength": 1
                            },
                            "lastName": {
                              "type": "string",
                              "minLength": 1
                            },
                            "company": {
                              "type": "string"
                            },
                            "phone": {
                              "type": "string"
                            },
                            "customerType": {
                              "type": "string",
                              "enum": [
                                "individual",
                                "business"
                              ],
                              "default": "individual"
                            }
                          },
                          "required": [
                            "customerId",
                            "email",
                            "firstName",
                            "lastName"
                          ]
                        },
                        "billingAddress": {
                          "type": "object",
                          "properties": {
                            "contactName": {
                              "type": "string"
                            },
                            "company": {
                              "type": "string"
                            },
                            "buildingInfo": {
                              "type": "string"
                            },
                            "streetAddress": {
                              "type": "string"
                            },
                            "locality": {
                              "type": "string"
                            },
                            "city": {
                              "type": "string"
                            },
                            "adminArea": {
                              "type": "string"
                            },
                            "postalCode": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "country": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "contactName",
                            "streetAddress",
                            "city",
                            "country"
                          ]
                        },
                        "shippingAddress": {
                          "type": "object",
                          "properties": {
                            "contactName": {
                              "type": "string"
                            },
                            "company": {
                              "type": "string"
                            },
                            "buildingInfo": {
                              "type": "string"
                            },
                            "streetAddress": {
                              "type": "string"
                            },
                            "locality": {
                              "type": "string"
                            },
                            "city": {
                              "type": "string"
                            },
                            "adminArea": {
                              "type": "string"
                            },
                            "postalCode": {
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "country": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "contactName",
                            "streetAddress",
                            "city",
                            "country"
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "productId": {
                                "type": "string"
                              },
                              "productImageUrl": {
                                "type": "string",
                                "format": "uri"
                              },
                              "variantId": {
                                "type": "string"
                              },
                              "sku": {
                                "type": "string",
                                "minLength": 1
                              },
                              "productName": {
                                "type": "string",
                                "minLength": 1
                              },
                              "quantity": {
                                "type": "integer",
                                "minimum": 1
                              },
                              "unitPrice": {
                                "type": "number",
                                "minimum": 0
                              },
                              "contractLength": {
                                "type": "number"
                              },
                              "listPrice": {
                                "type": "number",
                                "minimum": 0
                              },
                              "listPriceSource": {
                                "type": "string",
                                "enum": [
                                  "variant",
                                  "manual",
                                  "unknown"
                                ],
                                "default": "unknown"
                              },
                              "acquisitionCost": {
                                "type": "number",
                                "minimum": 0
                              },
                              "acquisitionCostSource": {
                                "type": "string",
                                "enum": [
                                  "variant",
                                  "manual",
                                  "list_price",
                                  "unknown"
                                ],
                                "default": "unknown"
                              },
                              "listPriceOverride": {
                                "type": "number",
                                "minimum": 0
                              },
                              "acquisitionCostOverride": {
                                "type": "number",
                                "minimum": 0
                              },
                              "usedListPriceAsAcquisition": {
                                "type": "boolean",
                                "default": false
                              },
                              "rentalIds": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "default": []
                              },
                              "rentalStatus": {
                                "type": "string",
                                "enum": [
                                  "pending",
                                  "partial",
                                  "completed"
                                ],
                                "default": "pending"
                              }
                            },
                            "required": [
                              "sku",
                              "productName",
                              "quantity",
                              "unitPrice",
                              "contractLength"
                            ]
                          }
                        },
                        "totals": {
                          "type": "object",
                          "properties": {
                            "subtotal": {
                              "type": "number",
                              "minimum": 0
                            },
                            "taxAmount": {
                              "type": "number",
                              "minimum": 0,
                              "default": 0
                            },
                            "total": {
                              "type": "number",
                              "minimum": 0
                            },
                            "currency": {
                              "type": "string",
                              "minLength": 3,
                              "maxLength": 3
                            },
                            "totalDevices": {
                              "type": "integer",
                              "minimum": 1
                            }
                          },
                          "required": [
                            "subtotal",
                            "total",
                            "currency",
                            "totalDevices"
                          ]
                        },
                        "payment": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "enum": [
                                "pending",
                                "paid",
                                "failed"
                              ]
                            },
                            "method": {
                              "type": "string",
                              "enum": [
                                "stripe",
                                "manual"
                              ]
                            },
                            "transactionId": {
                              "type": "string"
                            },
                            "paidAmount": {
                              "type": "number",
                              "minimum": 0
                            },
                            "manuallyMarked": {
                              "type": "boolean",
                              "default": false
                            }
                          }
                        },
                        "customFields": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "additionalProperties": {}
                        },
                        "rentalProgress": {
                          "type": "object",
                          "properties": {
                            "totalDevices": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "rentedDevices": {
                              "type": "integer",
                              "minimum": 0
                            }
                          },
                          "required": [
                            "totalDevices",
                            "rentedDevices"
                          ]
                        },
                        "rentalIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "billingGroupId": {
                          "type": "string"
                        },
                        "trackingNumber": {
                          "type": "string"
                        },
                        "shippedAt": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "createdBy": {
                          "type": "string"
                        },
                        "notes": {
                          "type": "string"
                        },
                        "extensionDetails": {
                          "type": "object",
                          "properties": {
                            "originalOrderId": {
                              "type": "string"
                            },
                            "extensionMonths": {
                              "type": "integer",
                              "exclusiveMinimum": 0
                            },
                            "previousEndDate": {
                              "type": "string"
                            },
                            "newEndDate": {
                              "type": "string"
                            },
                            "reason": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "originalOrderId",
                            "extensionMonths",
                            "previousEndDate",
                            "newEndDate"
                          ]
                        },
                        "upgradeDetails": {
                          "type": "object",
                          "properties": {
                            "previousDevice": {
                              "type": "string"
                            },
                            "previousSerialNumber": {
                              "type": "string"
                            },
                            "previousMonthlyAmount": {
                              "type": "number"
                            },
                            "previousRentalId": {
                              "type": "string"
                            },
                            "upgradeReason": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "previousDevice",
                            "previousSerialNumber",
                            "previousMonthlyAmount",
                            "previousRentalId"
                          ]
                        }
                      },
                      "required": [
                        "orderId",
                        "tenantId",
                        "status",
                        "orderType",
                        "customer",
                        "billingAddress",
                        "shippingAddress",
                        "items",
                        "totals",
                        "rentalProgress",
                        "rentalIds",
                        "createdAt",
                        "updatedAt",
                        "createdBy"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "orderId",
                    "order"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listOrders",
        "tags": [
          "Orders"
        ],
        "summary": "List orders",
        "description": "Returns a paginated list of orders.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Items per page (default: 50, max: 100)"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Cursor for pagination"
            },
            "required": false,
            "name": "startAfter",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by status (pending, confirmed, partial, fulfilled, cancelled)"
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by customer ID"
            },
            "required": false,
            "name": "customerId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Your tenant identifier"
            },
            "required": true,
            "name": "Tenant-ID",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "orderId": {
                            "type": "string"
                          },
                          "tenantId": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "confirmed",
                              "partial",
                              "fulfilled",
                              "cancelled"
                            ]
                          },
                          "orderType": {
                            "type": "string",
                            "enum": [
                              "standard",
                              "extension",
                              "upgrade"
                            ]
                          },
                          "customer": {
                            "type": "object",
                            "properties": {
                              "customerId": {
                                "type": "string",
                                "minLength": 1
                              },
                              "email": {
                                "type": "string",
                                "format": "email"
                              },
                              "firstName": {
                                "type": "string",
                                "minLength": 1
                              },
                              "lastName": {
                                "type": "string",
                                "minLength": 1
                              },
                              "company": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "customerType": {
                                "type": "string",
                                "enum": [
                                  "individual",
                                  "business"
                                ],
                                "default": "individual"
                              }
                            },
                            "required": [
                              "customerId",
                              "email",
                              "firstName",
                              "lastName"
                            ]
                          },
                          "billingAddress": {
                            "type": "object",
                            "properties": {
                              "contactName": {
                                "type": "string"
                              },
                              "company": {
                                "type": "string"
                              },
                              "buildingInfo": {
                                "type": "string"
                              },
                              "streetAddress": {
                                "type": "string"
                              },
                              "locality": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "adminArea": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "country": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "contactName",
                              "streetAddress",
                              "city",
                              "country"
                            ]
                          },
                          "shippingAddress": {
                            "type": "object",
                            "properties": {
                              "contactName": {
                                "type": "string"
                              },
                              "company": {
                                "type": "string"
                              },
                              "buildingInfo": {
                                "type": "string"
                              },
                              "streetAddress": {
                                "type": "string"
                              },
                              "locality": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "adminArea": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "country": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "contactName",
                              "streetAddress",
                              "city",
                              "country"
                            ]
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "productId": {
                                  "type": "string"
                                },
                                "productImageUrl": {
                                  "type": "string",
                                  "format": "uri"
                                },
                                "variantId": {
                                  "type": "string"
                                },
                                "sku": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "productName": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "quantity": {
                                  "type": "integer",
                                  "minimum": 1
                                },
                                "unitPrice": {
                                  "type": "number",
                                  "minimum": 0
                                },
                                "contractLength": {
                                  "type": "number"
                                },
                                "listPrice": {
                                  "type": "number",
                                  "minimum": 0
                                },
                                "listPriceSource": {
                                  "type": "string",
                                  "enum": [
                                    "variant",
                                    "manual",
                                    "unknown"
                                  ],
                                  "default": "unknown"
                                },
                                "acquisitionCost": {
                                  "type": "number",
                                  "minimum": 0
                                },
                                "acquisitionCostSource": {
                                  "type": "string",
                                  "enum": [
                                    "variant",
                                    "manual",
                                    "list_price",
                                    "unknown"
                                  ],
                                  "default": "unknown"
                                },
                                "listPriceOverride": {
                                  "type": "number",
                                  "minimum": 0
                                },
                                "acquisitionCostOverride": {
                                  "type": "number",
                                  "minimum": 0
                                },
                                "usedListPriceAsAcquisition": {
                                  "type": "boolean",
                                  "default": false
                                },
                                "rentalIds": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "default": []
                                },
                                "rentalStatus": {
                                  "type": "string",
                                  "enum": [
                                    "pending",
                                    "partial",
                                    "completed"
                                  ],
                                  "default": "pending"
                                }
                              },
                              "required": [
                                "sku",
                                "productName",
                                "quantity",
                                "unitPrice",
                                "contractLength"
                              ]
                            }
                          },
                          "totals": {
                            "type": "object",
                            "properties": {
                              "subtotal": {
                                "type": "number",
                                "minimum": 0
                              },
                              "taxAmount": {
                                "type": "number",
                                "minimum": 0,
                                "default": 0
                              },
                              "total": {
                                "type": "number",
                                "minimum": 0
                              },
                              "currency": {
                                "type": "string",
                                "minLength": 3,
                                "maxLength": 3
                              },
                              "totalDevices": {
                                "type": "integer",
                                "minimum": 1
                              }
                            },
                            "required": [
                              "subtotal",
                              "total",
                              "currency",
                              "totalDevices"
                            ]
                          },
                          "payment": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string",
                                "enum": [
                                  "pending",
                                  "paid",
                                  "failed"
                                ]
                              },
                              "method": {
                                "type": "string",
                                "enum": [
                                  "stripe",
                                  "manual"
                                ]
                              },
                              "transactionId": {
                                "type": "string"
                              },
                              "paidAmount": {
                                "type": "number",
                                "minimum": 0
                              },
                              "manuallyMarked": {
                                "type": "boolean",
                                "default": false
                              }
                            }
                          },
                          "customFields": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "additionalProperties": {}
                          },
                          "rentalProgress": {
                            "type": "object",
                            "properties": {
                              "totalDevices": {
                                "type": "integer",
                                "minimum": 0
                              },
                              "rentedDevices": {
                                "type": "integer",
                                "minimum": 0
                              }
                            },
                            "required": [
                              "totalDevices",
                              "rentedDevices"
                            ]
                          },
                          "rentalIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "billingGroupId": {
                            "type": "string"
                          },
                          "trackingNumber": {
                            "type": "string"
                          },
                          "shippedAt": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "createdBy": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "extensionDetails": {
                            "type": "object",
                            "properties": {
                              "originalOrderId": {
                                "type": "string"
                              },
                              "extensionMonths": {
                                "type": "integer",
                                "exclusiveMinimum": 0
                              },
                              "previousEndDate": {
                                "type": "string"
                              },
                              "newEndDate": {
                                "type": "string"
                              },
                              "reason": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "originalOrderId",
                              "extensionMonths",
                              "previousEndDate",
                              "newEndDate"
                            ]
                          },
                          "upgradeDetails": {
                            "type": "object",
                            "properties": {
                              "previousDevice": {
                                "type": "string"
                              },
                              "previousSerialNumber": {
                                "type": "string"
                              },
                              "previousMonthlyAmount": {
                                "type": "number"
                              },
                              "previousRentalId": {
                                "type": "string"
                              },
                              "upgradeReason": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "previousDevice",
                              "previousSerialNumber",
                              "previousMonthlyAmount",
                              "previousRentalId"
                            ]
                          }
                        },
                        "required": [
                          "orderId",
                          "tenantId",
                          "status",
                          "orderType",
                          "customer",
                          "billingAddress",
                          "shippingAddress",
                          "items",
                          "totals",
                          "rentalProgress",
                          "rentalIds",
                          "createdAt",
                          "updatedAt",
                          "createdBy"
                        ]
                      }
                    },
                    "count": {
                      "type": "number"
                    },
                    "limit": {
                      "type": "number"
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  },
                  "required": [
                    "orders",
                    "count",
                    "limit",
                    "hasMore",
                    "nextCursor"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/{orderId}": {
      "get": {
        "operationId": "getOrder",
        "tags": [
          "Orders"
        ],
        "summary": "Get an order",
        "description": "Retrieves a specific order by ID.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The order ID"
            },
            "required": true,
            "name": "orderId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Your tenant identifier"
            },
            "required": true,
            "name": "Tenant-ID",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orderId": {
                      "type": "string"
                    },
                    "tenantId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "confirmed",
                        "partial",
                        "fulfilled",
                        "cancelled"
                      ]
                    },
                    "orderType": {
                      "type": "string",
                      "enum": [
                        "standard",
                        "extension",
                        "upgrade"
                      ]
                    },
                    "customer": {
                      "type": "object",
                      "properties": {
                        "customerId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "firstName": {
                          "type": "string",
                          "minLength": 1
                        },
                        "lastName": {
                          "type": "string",
                          "minLength": 1
                        },
                        "company": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "customerType": {
                          "type": "string",
                          "enum": [
                            "individual",
                            "business"
                          ],
                          "default": "individual"
                        }
                      },
                      "required": [
                        "customerId",
                        "email",
                        "firstName",
                        "lastName"
                      ]
                    },
                    "billingAddress": {
                      "type": "object",
                      "properties": {
                        "contactName": {
                          "type": "string"
                        },
                        "company": {
                          "type": "string"
                        },
                        "buildingInfo": {
                          "type": "string"
                        },
                        "streetAddress": {
                          "type": "string"
                        },
                        "locality": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "adminArea": {
                          "type": "string"
                        },
                        "postalCode": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "country": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "contactName",
                        "streetAddress",
                        "city",
                        "country"
                      ]
                    },
                    "shippingAddress": {
                      "type": "object",
                      "properties": {
                        "contactName": {
                          "type": "string"
                        },
                        "company": {
                          "type": "string"
                        },
                        "buildingInfo": {
                          "type": "string"
                        },
                        "streetAddress": {
                          "type": "string"
                        },
                        "locality": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "adminArea": {
                          "type": "string"
                        },
                        "postalCode": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "country": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "contactName",
                        "streetAddress",
                        "city",
                        "country"
                      ]
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "productId": {
                            "type": "string"
                          },
                          "productImageUrl": {
                            "type": "string",
                            "format": "uri"
                          },
                          "variantId": {
                            "type": "string"
                          },
                          "sku": {
                            "type": "string",
                            "minLength": 1
                          },
                          "productName": {
                            "type": "string",
                            "minLength": 1
                          },
                          "quantity": {
                            "type": "integer",
                            "minimum": 1
                          },
                          "unitPrice": {
                            "type": "number",
                            "minimum": 0
                          },
                          "contractLength": {
                            "type": "number"
                          },
                          "listPrice": {
                            "type": "number",
                            "minimum": 0
                          },
                          "listPriceSource": {
                            "type": "string",
                            "enum": [
                              "variant",
                              "manual",
                              "unknown"
                            ],
                            "default": "unknown"
                          },
                          "acquisitionCost": {
                            "type": "number",
                            "minimum": 0
                          },
                          "acquisitionCostSource": {
                            "type": "string",
                            "enum": [
                              "variant",
                              "manual",
                              "list_price",
                              "unknown"
                            ],
                            "default": "unknown"
                          },
                          "listPriceOverride": {
                            "type": "number",
                            "minimum": 0
                          },
                          "acquisitionCostOverride": {
                            "type": "number",
                            "minimum": 0
                          },
                          "usedListPriceAsAcquisition": {
                            "type": "boolean",
                            "default": false
                          },
                          "rentalIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "default": []
                          },
                          "rentalStatus": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "partial",
                              "completed"
                            ],
                            "default": "pending"
                          }
                        },
                        "required": [
                          "sku",
                          "productName",
                          "quantity",
                          "unitPrice",
                          "contractLength"
                        ]
                      }
                    },
                    "totals": {
                      "type": "object",
                      "properties": {
                        "subtotal": {
                          "type": "number",
                          "minimum": 0
                        },
                        "taxAmount": {
                          "type": "number",
                          "minimum": 0,
                          "default": 0
                        },
                        "total": {
                          "type": "number",
                          "minimum": 0
                        },
                        "currency": {
                          "type": "string",
                          "minLength": 3,
                          "maxLength": 3
                        },
                        "totalDevices": {
                          "type": "integer",
                          "minimum": 1
                        }
                      },
                      "required": [
                        "subtotal",
                        "total",
                        "currency",
                        "totalDevices"
                      ]
                    },
                    "payment": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "paid",
                            "failed"
                          ]
                        },
                        "method": {
                          "type": "string",
                          "enum": [
                            "stripe",
                            "manual"
                          ]
                        },
                        "transactionId": {
                          "type": "string"
                        },
                        "paidAmount": {
                          "type": "number",
                          "minimum": 0
                        },
                        "manuallyMarked": {
                          "type": "boolean",
                          "default": false
                        }
                      }
                    },
                    "customFields": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "additionalProperties": {}
                    },
                    "rentalProgress": {
                      "type": "object",
                      "properties": {
                        "totalDevices": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "rentedDevices": {
                          "type": "integer",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "totalDevices",
                        "rentedDevices"
                      ]
                    },
                    "rentalIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "billingGroupId": {
                      "type": "string"
                    },
                    "trackingNumber": {
                      "type": "string"
                    },
                    "shippedAt": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "createdBy": {
                      "type": "string"
                    },
                    "notes": {
                      "type": "string"
                    },
                    "extensionDetails": {
                      "type": "object",
                      "properties": {
                        "originalOrderId": {
                          "type": "string"
                        },
                        "extensionMonths": {
                          "type": "integer",
                          "exclusiveMinimum": 0
                        },
                        "previousEndDate": {
                          "type": "string"
                        },
                        "newEndDate": {
                          "type": "string"
                        },
                        "reason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "originalOrderId",
                        "extensionMonths",
                        "previousEndDate",
                        "newEndDate"
                      ]
                    },
                    "upgradeDetails": {
                      "type": "object",
                      "properties": {
                        "previousDevice": {
                          "type": "string"
                        },
                        "previousSerialNumber": {
                          "type": "string"
                        },
                        "previousMonthlyAmount": {
                          "type": "number"
                        },
                        "previousRentalId": {
                          "type": "string"
                        },
                        "upgradeReason": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "previousDevice",
                        "previousSerialNumber",
                        "previousMonthlyAmount",
                        "previousRentalId"
                      ]
                    }
                  },
                  "required": [
                    "orderId",
                    "tenantId",
                    "status",
                    "orderType",
                    "customer",
                    "billingAddress",
                    "shippingAddress",
                    "items",
                    "totals",
                    "rentalProgress",
                    "rentalIds",
                    "createdAt",
                    "updatedAt",
                    "createdBy"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/{orderId}/notes": {
      "patch": {
        "operationId": "updateOrderNotes",
        "tags": [
          "Orders"
        ],
        "summary": "Update order notes",
        "description": "Updates the notes field on an order.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The order ID"
            },
            "required": true,
            "name": "orderId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Your tenant identifier"
            },
            "required": true,
            "name": "Tenant-ID",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "notes": {
                    "type": "string",
                    "maxLength": 5000
                  }
                },
                "required": [
                  "notes"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notes updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "orderId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "orderId"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/{orderId}/cancel": {
      "post": {
        "operationId": "cancelOrder",
        "tags": [
          "Orders"
        ],
        "summary": "Cancel an order",
        "description": "Cancels a pending order. Cannot cancel orders that have fulfilled subscriptions.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "The order ID"
            },
            "required": true,
            "name": "orderId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Your tenant identifier"
            },
            "required": true,
            "name": "Tenant-ID",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "maxLength": 1000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "orderId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "orderId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (order not cancellable)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/csv": {
      "post": {
        "operationId": "importProductsCSV",
        "tags": [
          "Products"
        ],
        "summary": "Import products from CSV",
        "description": "Bulk import products and variants from a CSV file. Supports up to ~500 products per request.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Your tenant identifier"
            },
            "required": true,
            "name": "Tenant-ID",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "csvFile": {
                    "type": "string",
                    "format": "binary",
                    "description": "CSV file with product data"
                  }
                },
                "required": [
                  "csvFile"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Import completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "created": {
                      "type": "number",
                      "description": "Products created"
                    },
                    "updated": {
                      "type": "number",
                      "description": "Products updated"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "row": {
                            "type": "number"
                          },
                          "error": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "row",
                          "error"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "created",
                    "updated"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products": {
      "post": {
        "operationId": "createProduct",
        "tags": [
          "Products"
        ],
        "summary": "Create a product",
        "description": "Creates a new product with its variants. Uses upsert logic - will update if product SKU already exists. Products can have multiple variants representing different conditions/grades, each with their own pricing tiers for different contract lengths.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Your tenant identifier"
            },
            "required": true,
            "name": "Tenant-ID",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "productSku": {
                    "type": "string",
                    "minLength": 1
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "specification": {
                    "type": "string",
                    "minLength": 1
                  },
                  "category": {
                    "type": "string",
                    "minLength": 1
                  },
                  "brand": {
                    "type": "string",
                    "minLength": 1
                  },
                  "description": {
                    "type": "string"
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "variants": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "variantId": {
                          "type": "string"
                        },
                        "variantSku": {
                          "type": "string",
                          "minLength": 1
                        },
                        "variantName": {
                          "type": "string",
                          "minLength": 1
                        },
                        "grade": {
                          "type": "string",
                          "minLength": 1
                        },
                        "condition": {
                          "type": "string"
                        },
                        "colorName": {
                          "type": "string"
                        },
                        "images": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "listPrice": {
                          "type": "number",
                          "minimum": 0
                        },
                        "acquisitionCost": {
                          "type": "number",
                          "minimum": 0
                        },
                        "pricing": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "contractLength": {
                                "type": "integer",
                                "minimum": 1
                              },
                              "monthlyPrice": {
                                "type": "number",
                                "minimum": 0
                              },
                              "setupFee": {
                                "type": "number",
                                "minimum": 0
                              },
                              "discount": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "percentage",
                                      "fixed"
                                    ]
                                  },
                                  "value": {
                                    "type": "number",
                                    "minimum": 0
                                  },
                                  "description": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "type",
                                  "value"
                                ]
                              },
                              "source": {
                                "type": "string",
                                "enum": [
                                  "suggested",
                                  "manual"
                                ]
                              },
                              "calculatedAt": {},
                              "presetUsed": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "contractLength",
                              "monthlyPrice"
                            ]
                          },
                          "minItems": 1
                        }
                      },
                      "required": [
                        "variantSku",
                        "variantName",
                        "grade",
                        "pricing"
                      ]
                    },
                    "minItems": 1
                  }
                },
                "required": [
                  "productSku",
                  "name",
                  "specification",
                  "category",
                  "brand",
                  "variants"
                ]
              },
              "example": {
                "productSku": "MACBOOK-PRO-16-M3",
                "name": "MacBook Pro 16\" M3 Pro",
                "category": "Laptops",
                "brand": "Apple",
                "specification": {
                  "processor": "Apple M3 Pro",
                  "memory": "18GB",
                  "storage": "512GB SSD",
                  "display": "16.2-inch Liquid Retina XDR"
                },
                "status": "active",
                "variants": [
                  {
                    "variantSku": "MACBOOK-PRO-16-M3-A",
                    "variantName": "Grade A - Like New",
                    "grade": "A",
                    "listPrice": 2499,
                    "acquisitionCost": 1800,
                    "pricing": [
                      {
                        "contractLength": 12,
                        "monthlyPrice": 149.99
                      },
                      {
                        "contractLength": 24,
                        "monthlyPrice": 99.99
                      },
                      {
                        "contractLength": 36,
                        "monthlyPrice": 79.99
                      }
                    ]
                  },
                  {
                    "variantSku": "MACBOOK-PRO-16-M3-B",
                    "variantName": "Grade B - Good",
                    "grade": "B",
                    "listPrice": 2199,
                    "acquisitionCost": 1500,
                    "pricing": [
                      {
                        "contractLength": 12,
                        "monthlyPrice": 129.99
                      },
                      {
                        "contractLength": 24,
                        "monthlyPrice": 89.99
                      },
                      {
                        "contractLength": 36,
                        "monthlyPrice": 69.99
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "productId": {
                      "type": "string"
                    },
                    "productSku": {
                      "type": "string"
                    },
                    "operation": {
                      "type": "string",
                      "enum": [
                        "created",
                        "updated"
                      ]
                    },
                    "variantResults": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "variantSku": {
                            "type": "string"
                          },
                          "operation": {
                            "type": "string",
                            "enum": [
                              "create",
                              "update"
                            ]
                          }
                        },
                        "required": [
                          "variantSku",
                          "operation"
                        ]
                      }
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "productId",
                    "productSku",
                    "operation",
                    "variantResults"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listProducts",
        "tags": [
          "Products"
        ],
        "summary": "List products",
        "description": "Returns a paginated list of products in your catalog.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Items per page (default: 50, max: 100)"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Cursor for pagination"
            },
            "required": false,
            "name": "startAfter",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by status (active, discontinued)"
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by category"
            },
            "required": false,
            "name": "category",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by brand"
            },
            "required": false,
            "name": "brand",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Your tenant identifier"
            },
            "required": true,
            "name": "Tenant-ID",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "List of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "products": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "productId": {
                            "type": "string"
                          },
                          "tenantId": {
                            "type": "string"
                          },
                          "productSku": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "specification": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          },
                          "brand": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "images": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "discontinued"
                            ]
                          },
                          "_sync": {
                            "type": "object",
                            "properties": {
                              "source": {
                                "type": "string",
                                "enum": [
                                  "manual",
                                  "shopify",
                                  "woocommerce"
                                ]
                              },
                              "externalId": {
                                "type": "string"
                              },
                              "lastSyncedAt": {
                                "type": "string"
                              },
                              "syncStatus": {
                                "type": "string",
                                "enum": [
                                  "synced",
                                  "pending",
                                  "error"
                                ]
                              },
                              "syncError": {
                                "type": "string"
                              },
                              "readOnlyFields": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "required": [
                              "source"
                            ]
                          },
                          "variants": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "variantId": {
                                  "type": "string"
                                },
                                "tenantId": {
                                  "type": "string"
                                },
                                "productId": {
                                  "type": "string"
                                },
                                "productSku": {
                                  "type": "string"
                                },
                                "variantSku": {
                                  "type": "string"
                                },
                                "variantName": {
                                  "type": "string"
                                },
                                "grade": {
                                  "type": "string"
                                },
                                "condition": {
                                  "type": "string"
                                },
                                "colorName": {
                                  "type": "string"
                                },
                                "images": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "listPrice": {
                                  "type": "number"
                                },
                                "acquisitionCost": {
                                  "type": "number"
                                },
                                "pricing": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "contractLength": {
                                        "type": "number"
                                      },
                                      "monthlyPrice": {
                                        "type": "number"
                                      },
                                      "setupFee": {
                                        "type": "number"
                                      },
                                      "discount": {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "percentage",
                                              "fixed"
                                            ]
                                          },
                                          "value": {
                                            "type": "number"
                                          },
                                          "description": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "value"
                                        ]
                                      },
                                      "source": {
                                        "type": "string",
                                        "enum": [
                                          "suggested",
                                          "manual"
                                        ]
                                      },
                                      "calculatedAt": {
                                        "type": "string"
                                      },
                                      "presetUsed": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "contractLength",
                                      "monthlyPrice"
                                    ]
                                  }
                                },
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "active",
                                    "inactive"
                                  ]
                                },
                                "createdAt": {
                                  "type": "string"
                                },
                                "updatedAt": {
                                  "type": "string"
[...]
